header, footer {
    background-color: slategrey;
}
footer {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

header {
    font-size: 1.5em;
}
img {
    float: right;
    border-radius: 40px;
    padding: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}