@import url('https://fonts.googleapis.com/css?family="Alata"|Open+Sans&display=swap" rel="stylesheet"');
a {
    color: #05386B;
    font-weight: bold;
  }
  
  #announce {
    display: none;
    background-color: #CEEAF7;
    color: #05386B;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
  }
  
  .articlediv p {
    color: #396E94;
  }
  
  .articlediv {
    display: block;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #000;
    color: #396E94;
  }
  
  #article_img {
    width: 100%;
  }

  body {
    margin: 0 auto;
    font-family: "Alata";
    background-color: #CEEAF7;
  }

  .contact_info {
    grid-column: 1;
    margin: auto;
  }
  
  .contact_info h3, .contact_info h4 {
    text-align: center;
    color: #396E94;
  }  
  
  .contactdiv {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000;
  }
  
  #degrees1, #degrees2, #degrees3, #degrees4, #degrees5 {
    color: #396E94;
  }
  
  #fiveDay {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    color: #396E94;
  }
  
  .forecastdiv {
    display: none;
  }
  
  #forecastDay {
    background-color: #8ee4af;
    color: #396E94;
    font-family: Century-Gothic;
  }

  header {
    color: #040127;
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    font-family: "Alata";
  }
  
  header img {
    height: 80px;
    width: auto;
    padding-right: 10px;
    border-radius: 20px;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading h1 {
    font-size: 1.8em;
    font-family: "Alata";
    margin-bottom: 0px;
  }
  
  h1 {
    font-family: "Alata";
    font-size: 1.8em;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: "Alata";
  }
  
  h3 {
    font-family: "Alata";
    font-size: 1.2em;
  }

  .forecastdiv h3, .articlediv h3 {
    text-align: center;
  }
  
  h4 {
    text-decoration: underline;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .section_head {
    text-align: center;
    color: #040127;
  }
  
  .herodiv {
    margin: 10px auto;
    position: relative;}
    
  .herodiv img {
    width: 100%;
  }
  
  .summary {
    position: absolute;
    top: 0px;
    font-size: .75em;
    background: radial-gradient(#eee, #EDF5E1);
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 30px #111;
    opacity: .8;
  }
  
  .summary p {
    color: #05386B;
    font-weight: bolder;
  }

  .contents{
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: #396E94;
    color: #E7C24F;
    font-style: italic;
  }
  
  main {
    margin: auto;
  }
  
  .motto {
    font-style: italic;
    font-size: .9em;
    letter-spacing: 1pt;
    color: #396E94;
  }

  #map {
    margin: auto;
    border: 2px solid #05386b;
  }


  nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #040127;
    color: #396E94;
  }
  .nav_bar {
    list-style: none;
    padding: 0;
  }
  .nav_bar li:first-child {
    display: block;
  }
  .nav_bar li {
    display: none;
  }
  .nav_bar a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
  }
  .nav_bar a:hover {
    color: #E7C24F;
    background-color: #fff;
    font-weight: 700;
  }
  
  /* the onclick JS toggles the .repsonsive class from display none (.nav_bar li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
    <ul class="nav_bar responsive">
    */
  .responsive li {
    display: block;
  }
  
  /* Media Query for medium + screens */
  @media only screen and (min-width: 32.5em) {
    .nav_bar {
      display: flex;
    }
    .nav_bar li {
      display: block; /* needed because of state in small view */
      flex: 1 1 100%;
    }
    .nav_bar li a {
      color: #396E94;
      text-align: center;
    }
    
    .nav_bar li:first-child {
      display: none;
    }
  }

  
  p {
    font-family: "open sans", sans-serif;
    font-size: 1em;
    color:	#5CDB95;
  }
  
  footer {
    background-color:#040127;
    color: #CEEAF7;
    font-family: "Alata"-Gothic;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 15px;
  }
  
  #copyright {
    font-family: 'Alata', sans-serif;
  }
  
  #dates {
    font-size: 1.0em;
    font-family: 'Alata', sans-serif;
    padding-top: 5px;
  }