a {
    color: #05386B;
    font-weight: bold;
  }
  
  #announce {
    display: none;
    background-color: #CEEAF7;
    color: #05386B;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
  }
  
  .articlediv p {
    color: #396E94;
  }
  
  .articlediv {
      display: block;
      margin-top: 15px;
      padding: 10px;
    border: 1px solid #000;
    color: #396E94;
  }
  
  #article_img {
    width: 100%;
  }
  
  body {
    margin: 0 auto;
    font-family: Century-Schoolbook;
    background-color: #CEEAF7;
  }
  
  .contact_info {
    grid-column: 1;
    margin: auto;
  }
  
  .contact_info h3, .contact_info h4 {
    text-align: center;
    color: #396E94;
  }
  
  .contactdiv {
      display: grid;
      grid-template-columns: 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
      border: 1px solid #000;
  }
  
  #degrees1, #degrees2, #degrees3, #degrees4, #degrees5 {
    color: #396E94;
  }
  
  #fiveDay {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    color: #396E94;
  }
  
  .forecastdiv {
    display: none;
  }
  
  #forecastDay {
    background-color: #8ee4af;
    color: #396E94;
    font-family: Century-Gothic;
  }
  
  #gallery_imgs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  #gallery_imgs figure {
    margin: 0;
    padding: 0;
  }
  
  #gallery_imgs figcaption {
    font-family: Century-Schoolbook;
    font-size: 1em;
    color: #396E94;
    text-align: center;
  }
  
  .galleryImage {
    width: 100%;
  }
  
  header {
    color: #396E94;
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    font-family: Century-Gothic;
  }
  
  header img {
    height: 80px;
    width: auto;
    padding-right: 10px;
    border-radius: 20px;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading h1 {
    font-size: 1.8em;
    font-family: Century-Schoolbook;
    margin-bottom: 0px;
  }
  
  h1 {
    font-family: Century-Schoolbook;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: Century-Schoolbook;
    color: #5cdb95;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  h3 {
    font-family: Century-Schoolbook;
    font-size: 1.2em;
    color: #5cdb95;
    text-shadow: .5px .5px .5px #05386b;
  }
  
  .forecastdiv h3, .articlediv h3 {
    text-align: center;
  }
  
  h4 {
    text-decoration: underline;
    font-family: 'Titillium Web', sans-serif;
  }
  
  img[data-src] {
    filter: blur(0.4em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  
  .section_head {
    text-align: center;
    color: #040127;
  }
  
  .herodiv {
      margin: 10px auto;
    position: relative;}
    
  .herodiv img {
    width: 100%;
  }
  
  .summary {
      position: absolute;
    top: 0px;
    font-size: .75em;
      background: radial-gradient(#eee, #EDF5E1);
      border: 1px solid #000;
      padding: 5px;
      box-shadow: 0 0 30px #111;
      opacity: .8;
  }
  
  .summary p {
    color: #05386B;
    font-weight: bolder;
  }
  
  main {
    margin: auto;
  }
  
  .motto {
    font-style: italic;
    font-size: .9em;
    letter-spacing: 1pt;
    color: #05386b;
  }
  
  #map {
    margin: auto;
    border: 2px solid #05386b;
  }
  
  nav {
      margin: 0 auto;
    background-color: #040127;
    border-radius: 15px;
  }
  
  nav ul li a.active{
    background-color: rgb(25, 15, 172)27;
  }
  
  .nav_bar {
    list-style: none;
    text-align: center;
      padding: 0;
  }
  
  .nav_bar li:first-child {
      display: block;
  }
  
  .nav_bar li {
      display: none;
  }
  
  .nav_bar a {
      display: block;
      padding: 0.75rem;
      text-align: center;
      text-decoration: none;
      color: white;
      font-weight: 700;
  }
  
  .nav_bar a:hover {
    color: #E7C24F;
    background-color: #fff;
  }
  
  .responsive li {
      display: block;
  }
  
  p {
    font-family: Century-Schoolbook;
    font-size: 1em;
    color:	#5CDB95;
  }
  
  footer {
    background-color:#040127;
    color: white;
    font-family: Century-Gothic;
    font-size: 16px;
    text-align: center;
    margin: 7px auto;
    padding-top: 10px;
    border-radius: 15px;
  }
  
  #copyright {
    font-family: 'Titillium Web', sans-serif;
  }
  
  #dates {
    font-size: 1.0em;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 5px;
  }